@charset "utf-8";


/*全体の設定
---------------------------------------------------------------------------*/
body {
	color: #666;	/*全体の文字色*/
	background: #ffffff;	/*全体の背景色*/
	/*background: radial-gradient(circle 500px at 30% 50px,#ebb3c4,#dd8aa3);	ロゴ背後の光*/
	margin: 0px;
	padding: 0px;
	font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";	/*文字サイズ・行間、フォントファミリー*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
	vertical-align: bottom;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #666;	/*リンクテキストの色*/
}
a:hover {
	color: #47abaa;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*h1タグの設定
---------------------------------------------------------------------------*/
h1 {
	width: 970px;	/*幅（下のcontainerと合わせるとよい）*/
	margin: 0px auto;
	font-size: 10px;	/*文字サイズ*/
	line-height: 70px;	/*行間*/
	font-weight: normal;	/*hタグのデフォルトの太字を標準に。太字がいいならこの１行削除。*/
	color: #FFF;		/*文字色*/
	text-align: right;	/*右寄せ*/
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: 970px;	/*コンテナー幅*/
	margin: 0px auto;
	background: #FFF url(../images/container_bg.jpg) no-repeat right top;	/*背景色と右上の植物の背景画像(リピートなし、右、上に配置)読み込み*/
	border-radius: 10px;	/*角丸のサイズ*/
	padding: 10px 10px 0px;	/*ボックス内の余白*/
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色(左3つがRGBの色指定で一番右が透明度)の設定。*/
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);			/*同上*/
	z-index: 1;
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: 100px;	/*ヘッダーの高さ*/
	width: 100%;	/*ヘッダーの幅*/
	position: relative;
}
/*ロゴ画像の設定*/
header #logo {
	position: absolute;
	left: 20px;	/*ヘッダーブロックに対して左から20pxの位置に配置*/
	top: 20px;	/*ヘッダーブロックに対して上から20pxの位置に配置*/
}
/*電話番号ボックスの設定*/
header address {
	position: absolute;
	top: 20px;		/*ヘッダーブロックに対して上から20pxの位置に配置*/
	right: 20px;	/*ヘッダーブロックに対して右から20pxの位置に配置*/
	font-size: 11px;	/*文字サイズ*/
	text-align: right;	/*文字をセンタリング*/
	line-height: 1.6;	/*行間*/
	letter-spacing: 0.2em;	/*文字間隔を少し広めにとる設定*/
	text-shadow: #FFF 1px 1px;	/*文字の影。色、右へ、下への設定。*/
}
/*電話番号の文字設定*/
header address .tel {
	font-size: 18px;	/*文字サイズ*/
	color: #dd8aa3;		/*文字色*/
	font-weight: bold;	/*太字に*/
	display: block;
}


/*上部のメインメニュー
---------------------------------------------------------------------------*/
nav#menubar ul {
	border-bottom:5px solid #dd8aa3;	/*下の線の幅、線種、色*/
	border-radius: 8px 8px 0px 0px;	/*角丸の指定。左上、右上、右下、左下への設定。*/
	background: #2d8a88;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/bg1.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(#6ac1c0), to(#2d8a88));	/*背景画像の読み込みとグラデーション*/
	background: url(../images/bg1.png) no-repeat center center, -webkit-linear-gradient(#6ac1c0, #2d8a88);	/*同上*/
	background: url(../images/bg1.png) no-repeat center center, linear-gradient(#6ac1c0, #2d8a88);			/*同上*/
	padding-left: 26px;
	overflow: hidden;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	width: 152px;	/*幅*/
	border-right: 1px solid #2d8a88;	/*右側への線の幅、線種、色*/
}
nav#menubar ul li a {
	height: 46px;
	padding-top: 12px;
	line-height: 1.4;
	text-decoration: none;
	display: block;
	font-size: 14px;	/*文字サイズ*/
	letter-spacing: 0.1em;		/*文字間隔を少し広めにとる設定。*/
	text-align: center;	/*文字をセンタリング*/
	color: #FFF;	/*文字色*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;		/*同上*/
}
/*最初のメニューの設定*/
nav#menubar ul li:first-child {
	border-left: 1px solid #2d8a88;	/*左側への線の幅、線種、色*/
}
/*マウスオン時と、current(表示中のメニュー)の設定*/
nav#menubar ul li a:hover,
nav#menubar ul li.current a {
	background: #5dcecd;	/*背景色*/
}
/*英語表記の設定*/
nav#menubar ul li a span {
	font-size: 8px;	/*文字サイズ*/
	display: block;
	opacity: 0.5;	/*50%の透明度で表示*/
	letter-spacing: 0.4em;		/*文字間隔を少し広めにとる設定。*/
}

/*トップページのスライドショー
---------------------------------------------------------------------------*/
#mainimg {
	clear: left;
	width: 100%;
	height: auto;
	position: relative;
}
#mainimg .slide_file {
	display: none;
}
#slide_image {
	z-Index:2;
	height: auto;
	width: 100%;
	position: relative;
}
#slide_image2 {
	z-Index:1;
	height: auto;
	width: 100%;
	position: absolute;
	left:0px;
	top:0px;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	clear: left;
	padding-top: 30px;
	margin: 0px 10px;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	float: right;	/*右側に回り込み*/
	width: 700px;	/*メインコンテンツ幅*/
	padding-bottom: 30px;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	clear: both;
	background: #e5a3b8;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#e5a3b8), to(#d2738d));	/*背景画像の読み込みとグラデーション*/
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, -webkit-linear-gradient(#e5a3b8, #d2738d);	/*同上*/
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, linear-gradient(#e5a3b8, #d2738d);			/*同上*/
	-webkit-box-shadow: 1px 2px 5px #CCC;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 5px #CCC;			/*同上*/
	font-size: 100%;
	color: #FFF;		/*文字色*/
	padding: 5px 15px;	/*左から上下、左右への余白*/
	border-radius: 6px 6px 0px 0px;	/*角丸のサイズ。左上、右上、右下、左下への設定。*/
	border-bottom: 5px solid #47abaa;	/*下線の幅、線種、色*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	clear: both;
	background: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: url(../images/bg2.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#f4f4f4));	/*背景画像の読み込みとグラデーション*/
	background: url(../images/bg2.png) no-repeat right center, -webkit-linear-gradient(#FFF, #e8e8e8);	/*同上*/
	background: url(../images/bg2.png) no-repeat right center, linear-gradient(#FFF, #e8e8e8);			/*同上*/
	-webkit-box-shadow: 1px 2px 5px #e2e2e2;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 5px #e2e2e2;			/*同上*/
	font-size: 100%;
	padding: 4px 15px;	/*左から、上下、左右への余白*/
	border-radius: 6px;	/*角丸のサイズ*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 15px 1em;	/*左から、上、左右、下への余白*/
}

/*course.html内のメニュー案内の各ブロック
---------------------------------------------------------------------------*/
/*ボックスの設定*/
#main section.list {
	margin-bottom: 15px;	/*ボックス間のスペース*/
	border-radius: 10px;	/*角丸のサイズ*/
	background: #FFF;		/*背景色（古いブラウザだとここの色のみが出ます）*/
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));	/*グラデーション*/
	background: -webkit-linear-gradient(#FFF, #e5e5e5);	/*同上*/
	background: linear-gradient(#FFF, #e5e5e5);			/*同上*/
	position: relative;
	overflow: hidden;
	color: #333;	/*文字色*/
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
}
#main section.list a {
	padding: 20px;	/*ボックス内の余白*/
	text-decoration: none;
	display: block;
	overflow: hidden;
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
#main section.list a:hover {
	background: #FFF;	/*マウスオン時の背景色*/
}
/*ボックス内の段落タグ設定*/
#main section.list p {
	padding: 0px;
	margin-left: 34%;	/*左の写真とのバランスをとって設定*/
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: left;		/*画像を左へ回り込み*/
	background: #FFF;	/*画像の背景色。ここでは枠線と画像の間の色になります。*/
	padding: 5px;		/*余白。ここに上の行で設定した背景色が出ます。*/
	width: 30%;			/*写真の幅*/
	height: auto;		/*写真の高さ*/
	border: 1px solid #ccc;	/*線の幅、線種、色*/
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	font-size: 100%;
	color: #e5a3b8;		/*文字色*/
	margin-left: 34%;	/*左の写真とのバランスをとって設定*/
	border-bottom: 1px solid #e5a3b8;	/*下側の線の幅、線種、色*/
	margin-bottom: 0.5em;
}

/*「mark1(キャンペーン中)」マーク
---------------------------------------------------------------------------*/
.mark1 {
	font-size: 10px;	/*文字サイズ*/
	color: #FFF;		/*文字色*/
	background: #fa5d95;	/*背景色*/
	text-align: center;
	display: block;
	width: 200px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	-webkit-transform: rotate(-45deg) translate(37px,20px);
	-ms-transform: rotate(-45deg) translate(37px,20px);
	transform: rotate(-20deg) translate(60px,10px);
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*左側に回り込み*/
	width: 220px;	/*サブコンテンツ幅*/
	padding-bottom: 30px;
}
/*subコンテンツ内のh2タグ設定*/
#sub h2 {
	font-size: 100%;
	padding: 15px 10px;		/*左から、上下、左右への余白*/
	background: #eee;		/*背景色*/
	border-bottom: 1px solid #d2d2d2;	/*下部の線の幅、線種、色*/
	border-top: 5px solid #5dcecd;		/*上部の線の幅、線種、色*/
}

/*サブコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
#sub ul.submenu {
	margin-bottom: 15px;	/*メニューブロックの下にあけるスペース*/
}
/*メニュー１個ごとの設定*/
#sub ul.submenu li a {
	border-bottom: 1px solid #d2d2d2;	/*下側の線の幅、線種、色*/
	text-decoration: none;
	display: block;
	padding: 2px 10px;	/*左から、上下、左右への余白*/
	background: #FFF;	/*背景色*/
}
/*マウスオン時の設定*/
#sub ul.submenu li a:hover,
#sub ul.submenu li.current a {
	background: #5dcecd;	/*背景色*/
	color: #fff;			/*文字色*/
}

/*サブコンテンツ内のbox1
---------------------------------------------------------------------------*/
#sub .box1 {
	border: 1px solid #CCC;	/*枠線の幅、線種、色*/
	padding: 10px;			/*ボックス内の余白*/
	margin-bottom: 15px;	/*ボックスの下に空けるのスペース*/
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#eaeaea));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #eaeaea);	/*同上*/
	background-image: linear-gradient(#FFF, #eaeaea);			/*同上*/
	-webkit-box-shadow: 0px 0px 1px #FFF inset;	/*内側への影を右・下・ぼかし幅・距離・色を設定*/
	box-shadow: 0px 0px 0px 1px #FFF inset;		/*同上*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFF;	/*文字色*/
}
footer .pr {
	display: block;
	font-size: 80%;
}
footer a {
	text-decoration: none;
	color: #FFF;
}
footer a:hover {
	color: #FFF;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new{
	margin-bottom: 15px;
}
#new dl{
	overflow: auto;	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 150px;	/*ボックスの高さ*/
	padding-left: 15px;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	border-bottom: 1px solid #d2d2d2;	/*下線の幅、線種、色*/
	padding-left: 8em;
}
#new dd img {
	vertical-align: middle;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #CCC;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	padding: 10px;
}
/*テーブル内の左側*/
.ta1 th{
	width: 180px;
	padding: 10px;
	text-align: center;
	background-color: #e2e2e3;	/*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	color: #FFF;	/*文字色*/
	background-color: #333;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#333));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#4b4b4b, #333);	/*同上*/
	background-image: linear-gradient(#4b4b4b, #333);			/*同上*/
}
/*ボタンの設定*/
input[type="submit"],
input[type="button"],
input[type="reset"] {
	width: 250px;	/*ボタン幅*/
	padding: 10px;	/*ボタン内の余白*/
	margin-bottom: 20px;
	border-radius: 30px;	/*角丸のサイズ*/
	background-color: #e5e5e5;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #e5e5e5);	/*同上*/
	background-image: linear-gradient(#FFF, #e5e5e5);			/*同上*/
	-webkit-box-shadow: 1px 2px 7px #ccc;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 1px 2px 7px #ccc;			/*同上*/
	font-size: 16px;	/*文字サイズ*/
	letter-spacing: 0.1em;
	border: 1px solid #999;
}
/*ボタンのマウスオン時の設定*/
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#FFF));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#e5e5e5, #FFF);	/*同上*/
	background-image: linear-gradient(#e5e5e5, #FFF);			/*同上*/
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
}
#pagetop a {
	color: #FFF;		/*文字色*/
	font-size: 10px;	/*文字サイズ*/
	background: #999;	/*背景色*/
	text-decoration: none;
	text-align: center;
	width: 12em;	/*ボックス幅*/
	display: block;
	float: right;
	letter-spacing: 0.1em;	/*文字間隔を少し広めにとる設定。*/
	line-height: 30px;
	margin-top: -30px;
	border-radius: 6px 6px 0 0;
}
/*マウスオン時*/
#pagetop a:hover {
	background-color: #666;	/*背景色*/
	color: #FFF;			/*文字色*/
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background: #dcdcdc;
}
.mb15,
.mb1em {
	margin-bottom: 15px;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
}
.color1 {
	color: #47abaa;
}
.pr {
	font-size: 10px;
}
.btn {
	font-size: 13px;
}
.wl {
	width: 96%;
}
.ws {
	width: 50%;
}
.c {
	text-align: center;
}
.r {
	text-align: right;
}
figcaption {
	font-size: 11px;
}
img {
	max-width: 100%;
	height: auto;
}
.newicon {
	background: #F00;
	color: #FFF;
	font-size: 10px;
	padding: 0px 5px;
	border-radius: 2px;
	margin-left: 5px;
}
#menubar_hdr {
	display: none;
}



/*ここからタブレット用（481px～800px）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (min-width:481px) and (max-width:800px){

/*h1タグの設定
---------------------------------------------------------------------------*/
h1 {
	display: none;
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
	margin: 10px;
	background: #FFF url(../images/container_bg.jpg) no-repeat right top / 40%;
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像の設定*/
header #logo {
	position: absolute;
	left: 0px;
	top: 15px;
}
header #logo img {
	width: 50%;
}
/*電話番号ボックスの設定*/
header address {
	position: absolute;
	top: 20px;
	right: 10px;
	letter-spacing: normal;
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
nav#menubar ul {
	padding-left: 0;
	background: none;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	width: 50%;
	background: url(../images/bg1.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(#6ac1c0), to(#2d8a88));
	background: url(../images/bg1.png) no-repeat center center, -webkit-linear-gradient(#6ac1c0, #2d8a88);
	background: url(../images/bg1.png) no-repeat center center, linear-gradient(#6ac1c0, #2d8a88);
	border-right: 1px solid #2d8a88;
	border-bottom: 1px solid #2d8a88;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
nav#menubar ul li:nth-child(odd) {
	border-left: 1px solid #2d8a88;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	margin: 0px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*その他
---------------------------------------------------------------------------*/
/*<body class="s-n">指定の場合にsubブロックを表示させない設定*/
body.s-n #sub {
	display: none;
}

}



/*ここからスマートフォン用（480px以下）環境の設定
---------------------------------------------------------------------------*/
/*表示を切り替えるウィンドウサイズの指定*/
@media (max-width : 480px){

/*h1タグの設定
---------------------------------------------------------------------------*/
h1 {
	display: none;
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
	margin: 10px;
	background: #FFF url(../images/container_bg.jpg) no-repeat right top / 40%;
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
/*ヘッダーブロック*/
header {
	height: auto;
	position: static;
	text-align: center;
}
/*ロゴ画像の設定*/
header #logo {
	position: static;
}
header #logo img {
	width: 80%;
}
/*電話番号ボックスの設定*/
header address {
	position: static;
	letter-spacing: normal;
	padding-bottom: 10px;
}

/*上部のメインメニュー
---------------------------------------------------------------------------*/
nav#menubar ul {
	padding-left: 0;
	background: none;
}
/*メニュー１個ごとの設定*/
nav#menubar ul li {
	float: left;
	width: 50%;
	background: url(../images/bg1.png) no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(#6ac1c0), to(#2d8a88));
	background: url(../images/bg1.png) no-repeat center center, -webkit-linear-gradient(#6ac1c0, #2d8a88);
	background: url(../images/bg1.png) no-repeat center center, linear-gradient(#6ac1c0, #2d8a88);
	border-right: 1px solid #2d8a88;
	border-bottom: 1px solid #2d8a88;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
nav#menubar ul li a {
	letter-spacing: normal;
}
nav#menubar ul li:nth-child(odd) {
	border-left: 1px solid #2d8a88;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	width: auto;
	padding-top: 15px;
	margin: 0px;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 5px 1em;	/*左から、上、左右、下への余白*/
}

/*course.html内のメニュー案内の各ブロック
---------------------------------------------------------------------------*/
/*ボックス内の段落タグ設定*/
#main section.list p {
	margin-left: 0;
}
/*ボックス内の写真設定*/
#main section.list figure img {
	float: none;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 10px;
}
/*ボックス内のh4タグ設定*/
#main section.list h4 {
	margin-left: 0;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
section#new h2.open {
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, url(../images/btn_minus.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#e5a3b8), to(#d2738d));	/*背景画像とマイナスアイコンとグラデーション*/
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, url(../images/btn_minus.png) no-repeat right center, -webkit-linear-gradient(#e5a3b8, #d2738d);	/*同上*/
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, url(../images/btn_minus.png) no-repeat right center, linear-gradient(#e5a3b8, #d2738d);			/*同上*/
}
section#new h2.close {
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, url(../images/btn_plus.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#e5a3b8), to(#d2738d));	/*背景画像とプラスアイコンとグラデーション*/
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, url(../images/btn_plus.png) no-repeat right center, -webkit-linear-gradient(#e5a3b8, #d2738d);	/*同上*/
	background: url(../images/bg1.png) no-repeat center center, url(../images/bg2.png) no-repeat right center, url(../images/btn_plus.png) no-repeat right center, linear-gradient(#e5a3b8, #d2738d);			/*同上*/
}
/*ブロック全体の設定*/
#new dl {
	height: auto;
	margin: 5px 5px 0px;
}
/*日付設定*/
#new dt {
	float: none;
	width: auto;
}
/*記事設定*/
#new dd {
	padding-left: 0;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
/*テーブル内の右側*/
.ta1 td{
	width: auto;
	padding: 2px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 100px;
	padding: 2px;
}

/*その他
---------------------------------------------------------------------------*/
/*<body class="s-n">指定の場合にsubブロックを表示させない設定*/
body.s-n #sub {
	display: none;
}
/*メニュー折りたたみ設定*/
#menubar_hdr {
	display: inline;
	position: absolute;
	top: 10px;
	right: 20px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e5e5e5));
	background-image: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
	background-image: linear-gradient(#fbfbfb, #e5e5e5);
	padding: 10px;
	border: 1px solid #cfcfcf;
	border-radius: 0px 0px 6px 6px;
}

}
